.wrapper {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  background: #181818;
  height: 50vh;
  .main {
    padding-top: 56px;
    display: flex;
    flex: 1;
    width: 100%;
    background: #181818;
  }
}
